<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM
        "https://testng.org/testng-1.0.dtd">

<suite name="WholeCart Automation Suite">

    <test name="WholeCart UI and API Tests">

        <classes>
            <class name="org.example.wholecart.tests.LoginTest"/>
<!--            <class name="org.example.wholecart.api.WholeCartApiTest"/>-->
        </classes>

    </test>

</suite>